.section{
    /* background-color: #f5f5f5; */
    color: #fff;
    /* width: 80%; */
    justify-items: center;
}
.seci{
    background-color: #302d2d;
    padding: 20px 30px;
}
.section-1{
    font-weight: 700;
    font-size: 20px;
}
.section-1 h1{
    width: 350px;
}
.section-1 p{
    width: 350px;
    font-size: 20px;
    font-weight: 200;
}
.section button{
    width: 400px;
    padding: 15px 20px;
    background-color: #000;
    border: 1px solid #808080;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}
.section-5 p{
    font-size: 18px;
    width: 430px;
}
.section-5 h2{
    text-align: center;
}
body{
    background-color: #000;
}